<div id="side-capture-section">
    <div class="list-group">

        <a href="#" class="list-group-item isreadyforcapture 1" data-displayname="Personal Information" data-name="1">
            <span class="badge">New</span>
            <h4 class="list-group-item-heading">Personal Information</h4>
            detail,address
        </a> <!--List group item General Information-->

        <a href="#" class="list-group-item 2" data-displayname="Business Information" data-name="2">
            <span class="badge">New</span>
            <h4 class="list-group-item-heading">Business Information</h4>
            Business Information
        </a><!--List group item Address-->

        <a href="#" class="list-group-item 3" data-displayname="Services" data-name="3">
            <span class="badge">New</span>
            <h4 class="list-group-item-heading">Services</h4>
            Services
        </a><!--List group item Address-->
        <a href="#" class="list-group-item 4" data-displayname="Document" data-name="4">
            <span class="badge">New</span>
            <h4 class="list-group-item-heading">Pictures</h4>
            Documents
        </a><!--List group item Address-->
    </div><!--list group-->
</div>
